@tailwind base;
@tailwind components;
@tailwind utilities;


/* disenio de los modals */
.modalFondo::backdrop {
    background: linear-gradient(45deg, rgba(0, 0, 0, 0.5), rgba(54, 54, 54, 0.5));
    backdrop-filter: blur(3px);
}

.modalOpen[open] {
    animation: appear .15s cubic-bezier(0, 1.8, 1, 1.8);
}

 @keyframes appear {
    from {
        opacity: 0;
        transform: translateX(-3rem);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}
/* fin de los disenios de lso modals */


/* sobreponer z-30xd */
.z-50xd {
    z-index: 50;
}

/*colores */
.estado-gray-200-xd {
    @apply bg-gray-200;
}

.estado-green-200-xd {
    @apply bg-green-200;
}

.text-green-600-xd {
    @apply text-green-600;
}

.text-gray-600-xd {
    @apply text-gray-600;
}


.after-border-gray-200-xd{
    @apply after:border-gray-200
}

.after-border-green-200-xd{
    @apply after:border-green-200
}

